body {
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    background: #fbeee6;
    color: #283747;
    top: 0;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 42px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 36px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 24px;
    line-height: 26px;
    color: #283747;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 24px;
}

ul.posts li {
    list-style: none;
}

dt {
    font-size: 30px;
}

dd {
    padding-bottom: 8px;
}

td.sidebar {
    background-color:navy;
    color: white;
}
.tall {
  height: 100%;
}

/* sidebar stuff */
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    top: 150px; position: fixed;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.header {
  padding: 0px 50px;
  margin-left: 160px;
  background-color: #ff7675;
  color: #dfe6e9;
  top: 0; position: fixed;
  width: 100%;
}

/*.icon {
  display: none;
} */

/* when the screen is less than 600px wide, hide the links in sidenav, and show the link that expands the menu */
@media screen and (max-width: 600px) {
  .sidenav /*a:not(:first-child)*/ {display: none;}
  a.icon {float:right; display:inline;}
/* show the sidenav on the left when the expand icon is clicked */
  .sidenav.responsive {position: relative;}
  .sidenav.responsive {float: none; display: block;}
/* bring the page contents and header over to fill in the gap when the navbar is gone */
  .header {margin-left:0px; padding: 0px 20px;}
  .main {margin-left:0px; padding: 0px 20px;}
}
